Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

- number1 = 20  <br> number2 = 30  <br> result = 600
- number1 = 40  <br> number2 = 30  <br> result = 70

In [52]:
def multiply_or_add(n1,n2):
  product = n1*n2
  if product <= 1000:
    return product
  else:
    return n1+n2

print(f"Output 1 = {multiply_or_add(20,30)}")
print(f"Output 2 = {multiply_or_add(40,30)}")

Output 1 = 600
Output 2 = 70

In [57]:
def divide_or_subtract(n1,n2):
  quotient = n1/n2
  if quotient <= 50:
    return quotient
  else:
    return n1-n2
print(f"Output 3 = {divide_or_subtract(400,20)}")
print(f"Output 4 = {divide_or_subtract(750,10)}")

Output 3 = 20.0
Output 4 = 740

Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [2]:
prev_num = 0
for i in range(1,11):
  result = prev_num + i
  print(f"Current number - {i} , Previous number - {prev_num}, Sum - {result}")
  prev_num = i

Current number - 1 , Previous number - 0, Sum - 1
Current number - 2 , Previous number - 1, Sum - 3
Current number - 3 , Previous number - 2, Sum - 5
Current number - 4 , Previous number - 3, Sum - 7
Current number - 5 , Previous number - 4, Sum - 9
Current number - 6 , Previous number - 5, Sum - 11
Current number - 7 , Previous number - 6, Sum - 13
Current number - 8 , Previous number - 7, Sum - 15
Current number - 9 , Previous number - 8, Sum - 17
Current number - 10 , Previous number - 9, Sum - 19

In [67]:
prev_num = 0
for i in range(1,6):
  result = prev_num + i
  print(f"Current number = {i}, Previous number {prev_num} , Sum = {result}")
  prev_num = i

Current number = 1, Previous number 0 , Sum = 1
Current number = 2, Previous number 1 , Sum = 3
Current number = 3, Previous number 2 , Sum = 5
Current number = 4, Previous number 3 , Sum = 7
Current number = 5, Previous number 4 , Sum = 9

Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [3]:
string = input("Enter a word = ")
for i in range(0,len(string)-1, 2):
  print(string[i])

Enter a word = pynative
p
n
t
v

In [68]:
string = input("Enter a word = ")
for i in range(0, len(string)-1, 2):
  print(string[i])

Enter a word = onomatopoeia
o
o
a
o
o
i

Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here, we need to remove the first two characters from a string.
Note: n must be less than the length of the string.

In [4]:
def remove_chars(str1, n):
  return str1[n:]
remove_chars('pynative',4)

'tive'

In [77]:
str2 = 'Structured Query Language'
str2[11:-9]

'Query'

Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [5]:
def check_first_and_last(num_list):
  first_num = num_list[0]
  last_num = num_list[-1]
  if first_num == last_num:
    print(True)
  else:
    print(False)

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
check_first_and_last(numbers_x)
check_first_and_last(numbers_y)

True
False

Exercise 6: Display numbers divisible by 5 from a list

Iterate the given list of numbers and print only those numbers which are divisible by 5

In [6]:
def divisible_by_5(num_list):
  for num in num_list:
    if num % 5 == 0:
      print(num)

num_list = [10, 20, 33, 46, 55]
divisible_by_5(num_list)

10
20
55

Exercise 7: Return the count of a given substring from a string

Write a program to find how many times substring “Emma” appears in the given string.

In [8]:
str_x = "Emma is good developer. Emma is a writer"

def check_substring(input_str):
  return input_str.count('Emma')

print(f"Emma appeared {check_substring(str_x)} times")

Emma appeared 2 times

Exercise 8: Print the following pattern

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [86]:
for num in range(10):
  for i in range(num):
    print(num, end = " ")
  print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [99]:
for num in range(6):
  for i in range(num):
    print(num, end = " ")
  print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Exercise 9: Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

In [17]:
def palindrome(number):
    print("original number", number)
    original_num = number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10
    if original_num == reverse_num:
        print("Given number is palindrome")
    else:
        print("Given number is not a palindrome")

palindrome(121)
palindrome(125)

original number 121
Given number is palindrome
original number 125
Given number is not a palindrome

In [131]:
num = 121
def is_palindrome(num):
    original_num = num
    reverse_num = 0
    while num > 0:
      reminder = num % 10
      print(f"Reminder = {reminder}")
      print()
      reverse_num = (reverse_num*10) + reminder
      print(f"Reversed number = {reverse_num}")
      print()
      num = num // 10
      print(f" Number = {num}")
      print("-----------------------------------------")
    if original_num == reverse_num:
      print(f"Given number is a palindrome")
    else:
      print(f"Given number is not a palindrome")

is_palindrome(11)

Reminder = 1

Reversed number = 1

 Number = 1
-----------------------------------------
Reminder = 1

Reversed number = 11

 Number = 0
-----------------------------------------
Given number is a palindrome

In [132]:
is_palindrome(10)

Reminder = 0

Reversed number = 0

 Number = 1
-----------------------------------------
Reminder = 1

Reversed number = 1

 Number = 0
-----------------------------------------
Given number is not a palindrome

In [137]:
def check_palindrome(n):
  org_n = n
  rev_n = 0
  while n > 0:
    rem = n % 10
    rev_n = (rev_n * 10) + rem
    n = n // 10
  if org_n == rev_n:
    print("Is a Palindrome")
  else:
    print("Not a Palindrome")

check_palindrome(12321)
check_palindrome(129)

Is a Palindrome
Not a Palindrome

Exercise 10: Create a new list from two list using the following condition

Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [142]:
def odd_and_even(num_list1, num_list2):
  final_list = []
  for i in num_list1:
    if i % 2 != 0:
      final_list.append(i)
  print(f"List 1 = Odd Output = {final_list}")
  for i in num_list2:
    if i % 2 == 0:
      final_list.append(i)
  print(f"List 2 = Even Output = {final_list}")
  return final_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
odd_and_even(list1, list2)

List 1 = Odd Output = [25, 35]
List 2 = Even Output = [25, 35, 40, 60, 90]

[25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [163]:
number = 7536
while number > 0:
  digit = number % 10
  number = number // 10
  print(digit, end = " ")

6 3 5 7

Understanding the code:-

![Screenshot 2024-01-12 165148.png]()

Exercise 12: Calculate income tax for the given income by adhering to the rules below

![Screenshot 2024-01-12 165601.png]()

In [179]:
tax_payable = 0
def tax(income):
  if income <= 10000:
    tax_payable = 0
  elif income <= 20000:
    x = income - 10000
    tax_payable = x * 10 / 100
  else:
    tax_payable = 0
    tax_payable = 10000 * 10 / 100
    tax_payable += (income - 20000) * 20 / 100
  return tax_payable
print(f"Income tax on Rs 45000 = {tax(45000)}")
print(f"Income tax on Rs 20000 = {tax(20000)}")

Income tax on Rs 45000 = 6000.0
Income tax on Rs 20000 = 1000.0

Exercise 13: Print multiplication table from 1 to 10

In [197]:
for i in range(0,21,2):
  for j in range(0,11):
    print(i*j, end = " ")
  print("\t\t")

0 0 0 0 0 0 0 0 0 0 0
0 2 4 6 8 10 12 14 16 18 20
0 4 8 12 16 20 24 28 32 36 40
0 6 12 18 24 30 36 42 48 54 60
0 8 16 24 32 40 48 56 64 72 80
0 10 20 30 40 50 60 70 80 90 100
0 12 24 36 48 60 72 84 96 108 120
0 14 28 42 56 70 84 98 112 126 140
0 16 32 48 64 80 96 112 128 144 160
0 18 36 54 72 90 108 126 144 162 180
0 20 40 60 80 100 120 140 160 180 200

Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)

In [214]:
for i in range(6,0,-1):
  for j in range(0,i-1):
    print("*", end=" ")
  print(" ")

* * * * *
* * * *
* * *
* *
*

In [215]:
for i in range(0,6):
  for j in range(0,i):
    print("*", end= " ")
  print(" ")

*
* *
* * *
* * * *
* * * * *

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

In [217]:
def exponent(base,exp):
  return base**exp
print(f"2 raised to the power of 5 = {exponent(2,5)}")
print(f"5 raised to the power of 4 = {exponent(5,4)}")

2 raised to the power of 5 = 32
5 raised to the power of 4 = 625

In [230]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result *= base
        num -= 1
        print(base, "raised to the power of", exp, "is: ", result)
exponent(2,5)
exponent(5,4)

2 raised to the power of 5 is:  2
2 raised to the power of 5 is:  4
2 raised to the power of 5 is:  8
2 raised to the power of 5 is:  16
2 raised to the power of 5 is:  32
5 raised to the power of 4 is:  5
5 raised to the power of 4 is:  25
5 raised to the power of 4 is:  125
5 raised to the power of 4 is:  625

In [240]:
def calculate_power(base, exp):
  num = exp
  result = 1
  while num > 0:
    result *= base
    num -= 1
    print(base, "raised to the power of", exp, "=" , result)
calculate_power(15,3)
print("--"*20)
calculate_power(25,4)

15 raised to the power of 3 = 15
15 raised to the power of 3 = 225
15 raised to the power of 3 = 3375
----------------------------------------
25 raised to the power of 4 = 25
25 raised to the power of 4 = 625
25 raised to the power of 4 = 15625
25 raised to the power of 4 = 390625